x-db-env: &db_env
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_DB: ${POSTGRES_DB}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

x-rails-env: &rails_env
  DB_HOST: ${DB_HOST}
  HOST: "0.0.0.0"
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  BUNDLE_PATH: /bundle
  REDIS_URL: ${REDIS_URL:-redis://redis:6379/1}

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ./.bashrc:/root/.bashrc:ro,cached
      - ..:/workspace:cached
      - bundle_cache:/bundle
    ports:
      - "3000:3000"
    command: sleep infinity
    environment:
      <<: *rails_env
    depends_on:
      - db
      - redis

  worker:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
      - bundle_cache:/bundle
    command: bundle exec sidekiq
    restart: unless-stopped
    environment:
      <<: *rails_env
    depends_on:
      - redis

  redis:
    image: redis:latest
    volumes:
      - redis-data:/data
    restart: unless-stopped
  
  db:
    image: postgres:16
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      <<: *db_env

volumes:
  postgres-data:
  redis-data:
  bundle_cache:
